@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
* {
  font-family: "Passion One", sans-serif;
}
$banner-color: rgb(116, 115, 160);
$x-small: 1em;
$small: 1.5em;
$med: 2em;
$larg: 2.5em;
$x-larg: 3em;
