nav {
  text-align: center;
  padding: 15px 10px 0;
  background-color: rgba(32, 164, 243, 0.8);
  .title {
    justify-content: center;
    font-size: $x-small;
    display: flex;
    padding-bottom: 10px;
  }
  ol {
    padding-bottom: 15px;
    padding-left: 20px;
    display: flex;
    justify-content: left;
    font-size: $small;
  }
  span {
    padding-right: 10px;
  }
  .link {
    padding-top: 5px;
    &:not(:last-child) {
      margin-right: 10px;
      padding-right: 5px;
      border-right: 2px solid black;
    }
  }
}
.stickNav {
  position: fixed;
  width: 100%;
  top: 0;
}
